---
import Layout from '../layouts/Layout.astro';
import MemberCard from '../components/MemberCard.astro';

const modules = import.meta.glob('../members/*/index.mdx', { eager: true });
const members = Object.values(modules).map((mod: any) => mod.frontmatter);
---

<Layout>
    <h1>Anthrotech</h1>
    <div>
        同じケモノ界隈でも、意外とフォロワーがどんなことをやっているのか分からないことが多いですよね。

        Anthrotechは以下の目的で作られた、ケモノ界隈の技術者のためのコミュニティです。
        <ul>
            <li>界隈のみんなが取り組んでいることを知る</li>
            <li>新しい技術を知る・学ぶきっかけ作り</li>
            <li>初心者の方のサポート</li>
            <li>LT会やその他のイベント等の拠点に</li>
        </ul>

        ケモノが好きで、技術にも興味がある人は誰でも歓迎です！お気軽にDiscordにJoin！。

    </div>

    <div>
        <a
            id="discord"
            href="https://discord.gg/wq63YhUv76"
            target="_blank"
            rel="noopener noreferrer"
        >
            Discordに参加
        </a>
    </div>

    <h2>Past Activities</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=sPJorN7LlSh_C-V4&amp;list=PLlsx9wlvmNs30tN7OMWwECUDqDL5I_kwj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h2>Member Directory</h2>
    <div id="members">
        {members.map((member: any) => (
            <MemberCard 
                name={member.name}
                description={member.description}
                avatar={member.avatar}
                href={`/@${member.id}`}
            />
        ))}
    </div>
</Layout>

<style>
    #members {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;
        width: 100%;
    }
    #discord {
        background-color: #7289da;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
</style>
    
