---
const { title } = Astro.props

let pageTitle = 'Anthrotech'
if (title) {
    pageTitle = `${pageTitle} - ${title}`
}

import FileTree from '../components/FileTree.astro'

---
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
	<body>
        <div id="wrap">
            {Astro.url.pathname != "/" &&
            <div id="sidebar">
                <a id="header" href="/">
                    <img id="logo" src="/favicon.svg" alt="Anthrotech Logo" />
                    <span id="title">Anthrotech</span>
                </a>
                <FileTree />
            </div>
            }
            <div id="main">
                <slot />
            </div>
        </div>
	</body>
</html>

<style is:global>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

ul,ol {
    padding-left: 1.8em;
}

ul> li, ol>li {
    margin: 0.4rem 0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

:is(h1, h2) ~ :is(h1, h2) {
    margin-top: 1em;
}

h3, h4, h5, h6 {
    margin-top: 0.8em;
}

pre {
    padding: 0.5em;
    border-radius: 0.3em;
    margin: 0.5em 0;
    overflow-x: auto;
}


</style>

<style>
html {
    background-color: #f2f2f2;
    height: 100%;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-direction: row;
    padding: 0 20px;
    flex: 1;
    justify-content: center;
    overflow-x: hidden;
}

#sidebar {
    width: 200px;
    overflow-y: auto;
}

#header {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
}


@media (max-width: 800px) {
    #sidebar {
        display: none;
    }
    #wrap {
        padding: 0 10px;
    }
}

#main {
    overflow: hidden;
    display: flex;
    max-width: 940px;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-height: 100dvh;
    padding: 20px 0;
}

</style>

